{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aliases</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Source</th>
                <th>Destination</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alias in aliases %}
            <tr>
                <td>
                    {{ alias.source }}
                </td>
                <td>
                    {{ alias.destination }}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('alias_edit', {'id': alias.id}) }}"><i class="fa fa-pencil"></i></a> <form class="alias-form" action="{{ path('alias_delete', {'id': alias.id}) }}" method="POST"><button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button></form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">
                    No aliases found
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('alias_add') }}"><i class="fa fa-plus"></i> Add</a>
{% endblock body %}