{% extends 'base.html.twig' %}

{% block body %}
    <h1>Domains</h1>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Domain</th>
                <th>Users</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for domain, users in domainAddresses %}
            <tr>
                <td>
                    {{ domain }}
                </td>
                <td>
                    {% for user in users %}
                        <a href="{{ path('user', {'id': user.id }) }}">{{ user.username }}</a><br />
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('domain_details', {'id': domain }) }}"><i class="fa fa-pencil"></i></a> <form class="alias-form" action="{{ path('domain_delete', {'id': domain}) }}" method="POST"><button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button></form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">
                    No domains found
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('domain_add') }}"><i class="fa fa-plus"></i> Add</a>
{% endblock body %}